{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <a href="{{  path('app_register', {role:'ROLE_CAN'}) }}" class="card text-decoration-none d-flex justify-content-center align-items-center border-0 shadow p-5">
                    <h4 class="card-title">Candidat</h4>
            </a>
        </div>
        <div class="col-6">
            <a href="{{  path('app_register', {role:'ROLE_ENT'}) }}" class="card text-decoration-none d-flex justify-content-center align-items-center border-0 shadow p-5">
                    <h4 class="card-title">Entreprise</h4>
            </a>
        </div>
    </div>
{% endblock %}
