{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil candidat{% endblock %}

{% block body %}
    <h1>Modifier mon profil candidat</h1>

    {{ include('candidat/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('candidat/_delete_form.html.twig') }}
{% endblock %}
