<form method="post" action="{{ path('app_experience_delete', {'id': experience.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l'expérience ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ experience.id) }}">
    <button class="btn-rouge w-100 mt-2">Supprimer l'expérience</button>
</form>
