{% extends 'base.html.twig' %}

{% block title %}Ajouter une expérience{% endblock %}

{% block body %}
    <h1>Ajouter une expérience</h1>

    {{ include('experience/_form.html.twig') }}

{% endblock %}
